
:root {
    --whithe : #f1f1f1;
}
h1, h2, h3, .titre-section {
    font-family: Montserrat, Helvetica, sans-serif;
}
.logo {
    width: 3rem;
    width: 3rem;
}
.banniere-dog {
    background: url('../assets/img/bulldog_banniere.jpg') center/cover;
}
.presentation {
    padding: 6rem 0.6rem;
}
.titre-section {
    color: #000;
    text-align: center;
    font-size: 4rem;
    padding: 3rem 1.25rem 7.5rem;
    font-family: Montserrat, Helvetica, sans-serif;
}
.info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    background: #f1f1f1;
    position: relative;
}
.info-card {
    width: 22rem;
    height: auto;
    margin: 0 1.25rem 5rem;
    box-shadow: 0 0.6rem 1.8rem rgba(0, 0, 0, 0.4);
    position: relative;
    z-index: 1;
}
.info-deco {
    position: absolute;
    z-index: -1;
    top: -70px;
    left: -100px;
}
.info-container img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.info-card h2 {
    color: #333;
    text-align: center;
    font-size: 1.5rem;
    padding: 1.25rem 0.3rem;
}
.info-card p {
    color: #333;
    text-align: center;
    font-size: 1.4rem;
    padding: 0 0.313rem 0.9rem;
}
.Evenements {
    display: flex;
    justify-content: center;
    align-items: center;
}
.colonneEvenements {
    width: 30%;
    text-align: center;
    margin: 3.125rem 1.25rem 4.375rem;
}
.colonneEvenements h3 {
    font-size: 3rem;
    margin-bottom: 1.25rem;
}
.colonneEvenements p {
    font-size: 1.2rem;
    width: 70%;
    margin: 0 auto 1.8rem;
}
.parallax {
    background-image: url(../assets/img/image-parallax.jpg);
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parallax-txt {
    font-size: 6.25rem;
    text-align: center;
    font-weight: 700;
}

@media (width < 750px) {
    .titre-section {
        font-size: 3rem;
    }
    .Evenements {
        flex-direction: column;
    }
    .colonneEvenements {
        width: 22rem
    }
    .colonneEvenements h3 {
        font-size: 2.5rem;
        margin-bottom: 1.25rem;
    }
    .parallax-txt {
        font-size: 4rem;
    }
}